<div class="container">
    <div class="row">
        <div class="results col-md-8 col-sm-8 panel panel-default" ng-repeat ="item in eventList">
            <div class="panel-body">
                <div class="resultsInfo">{{item.eventInfo}}</div>
                <div class="resultsTitle">{{item.title}}</div>
            </div>
        </div>
    </div>
</div>
<!--<table ng-table class="table">-->
    <!--<tr ng-repeat="item in eventList">-->
        <!--<td data-title="'date'">{{item.eventInfo}}</td>-->
        <!--<td data-title="'title'">{{item.title}}</td>-->
    <!--</tr>-->
<!--</table>-->
<!--</div>-->
