<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12 col-sm-12 panel panel-default" ng-repeat ="item in eventList">-->
            <!--<div class="panel-body">{{item.eventInfo}} {{item.title}}</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<table ng-table class="table">
    <tr ng-repeat="item in eventList">
        <td data-title="'date'">{{item.eventInfo}}</td>
        <td data-title="'title'">{{item.title}}</td>
    </tr>
</table>
</div>
